Task 4.7 Upload

In [2]:
#import libraries
import pandas as pd
import numpy as np
import os

In [3]:
pd.set_option('display.max_rows',50000)

In [4]:
path = path = r'C:\Users\TEDWI\OneDrive\Documents\Insta Cart Basket Analysis'

In [5]:
# Import the result to see what happened 

df_test = pd.read_csv(os.path.join(path, '02 Data', 'Prepared data', 'orders_checked.csv'))

In [6]:
df_test.shape

(3214874, 7)

In [7]:
df_test.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,hour_of_day_order_placed,days_since_prior_order
0,1,2398795,1,2,3,7,15.0
1,2,473747,1,3,3,12,21.0
2,3,2254736,1,4,4,7,29.0
3,4,431534,1,5,4,15,28.0
4,5,3367565,1,6,2,7,19.0

In [8]:
df_test.columns

Index(['Unnamed: 0', 'order_id', 'user_id', 'order_number',
       'orders_day_of_week', 'hour_of_day_order_placed',
       'days_since_prior_order'],
      dtype='object')

In [9]:
# Importing 'orders_products_merged.pkl'

df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared data', 'orders_products_combined.pkl'))

In [10]:
df_orders_products_combined.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,hour_of_day_order_placed,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [11]:
df = df_orders_products_combined[:1000000]

In [12]:
#If Statement

# Row is standard argument looking at each row within DataFrame

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [13]:
df['price_range'] = df.apply(price_label , axis=1)

C:\Users\TEDWI\AppData\Local\Temp\ipykernel_18056\3332285853.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label , axis=1)

# attempted second method

In [14]:
#if statemnt using loc method

In [15]:
df_orders_products_combined.loc[df_orders_products_combined['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [16]:
df_orders_products_combined.loc[(df_orders_products_combined['prices'] <= 15) & (df_orders_products_combined['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [17]:
df_orders_products_combined.loc[df_orders_products_combined['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [18]:
df_orders_products_combined['price_range_loc'].value_counts(dropna = False)

Mid-range product     21890146
Low-range product     10126384
High-range product      417682
Name: price_range_loc, dtype: int64

In [19]:
# For loop if statement

In [20]:
df_orders_products_combined['orders_day_of_week'].value_counts(dropna = False)

0    6209632
1    5665830
6    4500246
2    4217766
5    4209449
3    3844096
4    3787193
Name: orders_day_of_week, dtype: int64

In [21]:
result = []

In [22]:
for value in df_orders_products_combined["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [23]:
df_orders_products_combined['busiest_day'] = result

In [24]:
df_orders_products_combined['busiest_day'].value_counts(dropna = False)

Regularly busy    22437387
Busiest day        6209632
Least busy         3787193
Name: busiest_day, dtype: int64

In [25]:
len(result)

32434212

In [26]:
df_orders_products_combined.shape

(32434212, 16)

# Task 4.7

In [27]:
labeling_counts = df_orders_products_combined['orders_day_of_week'].value_counts(dropna = False)

In [28]:
#frequency orders days columns

In [29]:
labeling_counts

0    6209632
1    5665830
6    4500246
2    4217766
5    4209449
3    3844096
4    3787193
Name: orders_day_of_week, dtype: int64

In [30]:
#Busiest days are Saturday(1) and Sunday (0), slowest days are Tuesday (3) and wednesday (4)

In [31]:
labeling_counts.index

Int64Index([0, 1, 6, 2, 5, 3, 4], dtype='int64')

In [32]:
day_number = list(labeling_counts.index)

In [33]:
day_number

[0, 1, 6, 2, 5, 3, 4]

In [34]:
results = []

In [35]:
for value in df_orders_products_combined['orders_day_of_week']:
    if value == day_number[0] or value == day_number[1]:
        results.append('Busiest days')
    elif value == day_number[len(day_number) - 1] or value == day_number[len(day_number) - 2]:
        results.append('Slowest days')
    else:
        results.append('Regulary busy days')

In [36]:
len(results)

32434212

In [37]:
df_orders_products_combined['orders_day_of_week'].shape

(32434212,)

In [38]:
# Results length corresponds to the DataFrame. 
# Create a new column in 'df_orders_products_combined' named busiest_days

df_orders_products_combined['busiest_days'] = results

In [39]:
df_orders_products_combined['busiest_days'].value_counts(dropna = False)

Regulary busy days    12927461
Busiest days          11875462
Slowest days           7631289
Name: busiest_days, dtype: int64

In [40]:
#print order days and busiest days
df_orders_products_combined [['orders_day_of_week', 'busiest_days']].head(5)

MemoryError: Unable to allocate 2.42 GiB for an array with shape (10, 32434212) and data type int64

In [ ]:
dict_labeling_counts = df_orders_products_combined['hour_of_day_order_placed'].value_counts(dropna = False).to_dict()

In [ ]:
# frequency of values in hour of day order placed

In [ ]:
dict_labeling_counts

In [ ]:
list_quantile = list(df_orders_products_combined['hour_of_day_order_placed'].value_counts(dropna = False).quantile([0.75, 0.5, 0.25]))

In [ ]:
list_quantile

In [ ]:
# create for loop for hours

In [ ]:
results_hour = []

In [ ]:
for value in df_orders_products_combined['hour_of_day_order_placed']:
    for key, val in dict_labeling_counts.items():
        if value == key:
            if val < list_quantile[2]:
                results_hour.append('Fewest orders')
            elif val >= list_quantile[2] and val < list_quantile[1]:
                results_hour.append('Average orders')
            elif val >= list_quantile[1]:
                results_hour.append('Most orders')

In [ ]:
def labeling_result (x):
    most_orders = x.count('Most orders')
    average_orders = x.count('Average orders')
    fewest_orders = x.count('Fewest orders')
    
    print(f'Most orders: {most_orders}')
    print(f'Average orders: {average_orders}')
    print(f'Fewest orders: {fewest_orders}')
    print(f'Total: {most_orders + average_orders + fewest_orders}')

In [ ]:
labeling_result(results_hour)

In [ ]:
df_orders_products_combined['hour_of_day_order_placed'].shape

In [ ]:
# create busiest period of day column

In [ ]:
df_orders_products_combined['busiest_period_of_day'] = results_hour

In [ ]:
# frequency of values in busiest period of day column

In [ ]:
df_orders_products_combined['busiest_period_of_day'].value_counts(dropna = False)

In [ ]:
# Exporting dataframe as pkl

In [ ]:
df_orders_products_combined.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_update.pkl'))