In [1]:
# importing libraries 
import pandas as pd
import numpy as np
import os

In [11]:
pd.set_option('display.max_rows',50000)

In [2]:
#showing path
path = r'C:\Users\TEDWI\OneDrive\Insta Cart Basket Analysis'

In [ ]:
# importing products checked data frame

In [3]:
df_prods = pd.read_csv(r'C:\Users\TEDWI\OneDrive\Documents\Insta Cart Basket Analysis\02 Data\Original data\products.csv', index_col= False)

In [4]:
df_prods.shape

(49693, 5)

In [5]:
# showing first 5 rows
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [ ]:
#showing rows and columns
df_prods.shape

In [6]:
# showing path
path = r'C:\Users\TEDWI\OneDrive\Documents\Insta Cart Basket Analysis'

In [7]:
#showing Join
df_ords_prods_com = pd.read_pickle(os.path.join(path, '02 Data','Prepared data', 'orders_products_combined.pkl'))

In [8]:
# showing table
df_ords_prods_com.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,hour_of_day_order_placed,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [9]:
# showing rows and columns
df_ords_prods_com.shape

(32434212, 14)

In [ ]:
#removing _merge column
df_ords_prods_com = df_ords_prods_com.drop(columns = ['_merge'])

# Merging products and orders_products_combined

In [ ]:
# Merging products and orders_products_combined
df_merge_combined = df_prods.merge(df_ords_prods_com, on = 'product_id', indicator = True)

In [ ]:
df_merge_combined.head()

In [ ]:
df_merge_combined.shape

In [ ]:
df_merge_combined['_merge'].value_counts()

# Exporting file as

In [ ]:
df_merge_combined_.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))